<a href="https://colab.research.google.com/github/alvas-education-foundation/ECEAbhishekVMahendrakar/blob/master/Day_4_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The following code is harmful

In [ ]:
result_list = ['True', 'False', 'File not found']
result_string = ''
for result in result_list:
  result_string += result
result_string

'TrueFalseFile not found'


#The following code is idiomatic

In [ ]:
result_list = ['True', 'False', 'File not found']
result_string = ''.join(result_list)
result_string

'TrueFalseFile not found'

#Chain string functions
#The following code is harmful

In [ ]:
book_info = ' The Three Musketeers: Alexandre Dumas'
formatted_book_info = book_info.strip()
formatted_book_info = formatted_book_info.upper()
formatted_book_info = formatted_book_info.replace(':', ' by')
formatted_book_info

'THE THREE MUSKETEERS by ALEXANDRE DUMAS'

#The following code is idiomatic

In [ ]:
book_info = ' The Three Musketeers: Alexandre Dumas'
formatted_book_info = book_info.strip().upper().replace(':', ' by')
formatted_book_info

'THE THREE MUSKETEERS by ALEXANDRE DUMAS'

#Removing Duplicates from a List

In [ ]:
ints_list = [1, 2, 3, 4, 3, 2]
temp = []
for x in ints_list:
    if x not in temp:
        temp.append(x)
ints_list = temp
print(f'Updated List after removing duplicates = {temp}')

Updated List after removing duplicates = [1, 2, 3, 4]


#The following code is idiomatic using set()

In [ ]:
ints_list = [1, 2, 3, 4, 3, 2]
ints_list1 = list(set(ints_list))
print(ints_list1)

[1, 2, 3, 4]

#zip() in Python

In [ ]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 
  
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
  
# converting values to print as set 
mapped = set(mapped) 
  
# printing resultant values  
print ("The zipped result is : ",end="") 
print (mapped)

The zipped result is : {('Manjeet', 4, 40), ('Astha', 2, 70), ('Shambhavi', 3, 60), ('Nikhil', 1, 50)}


#How to unzip?

In [ ]:
name,rollno,marks=zip(*mapped)
print(name,rollno,marks)

('Manjeet', 'Astha', 'Shambhavi', 'Nikhil') (4, 2, 3, 1) (40, 70, 60, 50)


#Map() function with lamda in Python

In [ ]:
def square(x):
    return x*x
numbers=[1, 2, 3, 4, 5]
sqrList=map(square, numbers)
print(list(sqrList))
# use lamda function to have direct values
sqrList1 = map(lambda x: x*x, [1, 2, 3, 4])
print(list(sqrList1))

[1, 4, 9, 16, 25]
[1, 4, 9, 16]

#Slicing operations in string

In [ ]:
def change(string):
      return string[-1] + string[1:-1] + string[0]
string=input("Enter string:")
print("Modified string:",change(string))
print('original string :',string)

Enter string:1+2
Modified string: 2+1
original string : 1+2

#Removing one character from a string

In [ ]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:Abhi$hek
Enter the index of the character to remove:5
Modified string:
Abhi$ek

#Sorting in Python using function

In [ ]:
def myFunc(e):
  return len(e)
#myfunc=lambda x : len(x)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=myFunc)
print(cars)
def myFunc(e):
  return e[1]
cars = [(1,'Ford'), (2,'Mitsubishi'), (3,'BMW'), (4,'VW')]
cars.sort(key=myFunc)
print(cars)
cars.sort(key=myFunc,reverse=True)
print(cars)
cars.sort(key=myFunc,reverse=True)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']
[(3, 'BMW'), (1, 'Ford'), (2, 'Mitsubishi'), (4, 'VW')]
[(4, 'VW'), (2, 'Mitsubishi'), (1, 'Ford'), (3, 'BMW')]
[(4, 'VW'), (2, 'Mitsubishi'), (1, 'Ford'), (3, 'BMW')]

#itertools groupby

In [ ]:
from itertools import groupby
things = [("animal", "bear"), ("animal", "duck"), \
           ("plant", "cactus"), ("vehicle", "speed boat"),\
          ("vehicle", "school bus")]

for key, group in groupby(things, lambda x: x[0]):
    for thing in group:
      print ("A %s is a %s."%(thing[1], key))

A bear is a animal.
A duck is a animal.
A cactus is a plant.
A speed boat is a vehicle.
A school bus is a vehicle.

#Combinations Of string "SADIK" OF SIZE 3.

In [ ]:
from itertools import combinations 
  
letters ="SADIK"
  
# size of combination is set to 3 
a = combinations(letters, 3)  
y = [' '.join(i) for i in a]  
print(y)

['S A D', 'S A I', 'S A K', 'S D I', 'S D K', 'S I K', 'A D I', 'A D K', 'A I K', 'D I K']

#Permutations Of string "SADIK" OF SIZE 3.

In [ ]:
from itertools import permutations 
  
letters ="SADIK"
  
# size of permutaion is set to 3 
a = permutations(letters, 3)  
y = [' '.join(i) for i in a]  
print(y)

['S A D', 'S A I', 'S A K', 'S D A', 'S D I', 'S D K', 'S I A', 'S I D', 'S I K', 'S K A', 'S K D', 'S K I', 'A S D', 'A S I', 'A S K', 'A D S', 'A D I', 'A D K', 'A I S', 'A I D', 'A I K', 'A K S', 'A K D', 'A K I', 'D S A', 'D S I', 'D S K', 'D A S', 'D A I', 'D A K', 'D I S', 'D I A', 'D I K', 'D K S', 'D K A', 'D K I', 'I S A', 'I S D', 'I S K', 'I A S', 'I A D', 'I A K', 'I D S', 'I D A', 'I D K', 'I K S', 'I K A', 'I K D', 'K S A', 'K S D', 'K S I', 'K A S', 'K A D', 'K A I', 'K D S', 'K D A', 'K D I', 'K I S', 'K I A', 'K I D']


#Accumulate()
# import the itertool module  
# to work with it

In [ ]:
import itertools 
  
# import operator to work  
# with operator 
import operator 
  
# creating a list GFG 
GFG = [1, 2, 3, 4, 5] 
  
# using the itertools.accumulate()  
result = itertools.accumulate(GFG,  
                              operator.mul) 
  
# printing each item from list 
for each in result: 
    print(each)

1
2
6
24
120

#Swaping by ^(Exclusive or)

In [ ]:
a=5
b=4
a=a^b
b=a^b
a=a^b
print(a)
print(b)

4
5

#Exercise