<a href="https://colab.research.google.com/github/alvas-education-foundation/ECEAbhishekVMahendrakar/blob/master/Day_3_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Finding the factorial of a number

In [3]:
n=int(input("Enter number:"))
fact=1
while(n>0):
  fact=fact*n
  n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:5
Factorial of the number is:
120

#More Pythonic program of 3 lines!

In [6]:
from functools import reduce
sequences = [x for x in range(1,int(input('Enter no'))+1)]
product = reduce(lambda x, y: x*y, sequences)
print(product)

Enter no5
120

#Program for multiples of 2 of a list without list comprehension

In [4]:
x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
  result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

#Single line program of Pythonic coding

In [5]:
print([i*2 for i in [1, 2, 3, 4, 5, 6] ])

[2, 4, 6, 8, 10, 12]

#Number and its square as Tuple for a range

In [7]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:5
Enter the upper range:15
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225)]

#More Pythonic program of 2 lines!

In [10]:
a=[(x,x**2) for x in range(int(input("Enter the lower range:")),int(input("Enter the upper range:"))+1)]
print(a)

Enter the lower range:5
Enter the upper range:19
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361)]

#The most Pythonic program of a sinle line program is given below

In [11]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")), int(input("Enter the upper range:"))+1)])

Enter the lower range:5
Enter the upper range:19
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361)]

#Finding the perfect squares

In [12]:
from math import *
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
result=[]
for i in sequences:
  if int(sqrt(i))**2==i:
    result.append(i)
print(result)

[4, 0, 9, 16, 1]

#Pythonic program of 3 lines!

In [13]:
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
filtered_result = filter(lambda x: int(sqrt(x))**2==x, sequences)
print(list(filtered_result))

[4, 0, 9, 16, 1]

#Program to finf the largest number in a list

In [14]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:5
Enter element:6
Enter element:4
Enter element:1
Enter element:9
Largest element is: 9

#Try this More pythonic 2 lines program equivalent to above codings as shown below !

In [15]:
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter no5
5
6
4
1
9
The greatest no is 9

#Program to put the even and odd elements in a list into two different lists.

In [17]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
even=[]
odd=[]
for j in a:
  if(j%2==0):
    even.append(j)
  else:
    odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
The even list [2, 4]
The odd list [1, 3, 5]

#Instead of forementioned 14 lines program, the equivalent 4 lines !

In [18]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('odd list is',[ i for i in l if i%2])
print('even list is',[i for i in l if not i%2])

Enter n5
1
2
3
4
5
odd list is [1, 3, 5]
even list is [2, 4]

#Python Program to merge two lists and sort it.

In [19]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
  b=int(input("Enter element:"))
  a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
  d=int(input("Enter element:"))
  c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
Enter number of elements:4
Enter element:6
Enter element:7
Enter element:8
Enter element:9
Sorted list is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

#Instead of forementioned 13 lines program, the equivalent 5 lines

In [20]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
m=[int(input(x)) for _ in range(int(input("Enter how many elements ")))]
new=l+m
new.sort()
print("Sorted list is:",new)

Enter how many elements5
1
2
4
3
5
Enter how many elements 4
9
8
7
6
Sorted list is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

#Python Program to sort the list according to the second element in the sublist.

In [21]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
  for j in range(i+1,len(a)):
    if(a[i][1]>a[j][1]):
      temp=a[j]
      a[j]=a[i]
      a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#Instead of forementioned 8 lines program, the equivalent 3 lines

In [22]:
a=[['A',34],['B',21],['C',26],['E',29]]
a.sort(key = lambda x: x[1])
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#Program to find the second largest number in  the list.

In [24]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
      temp=a[j]
      a[j]=a[j+1]
      a[j+1]=temp
print('Second largest number is:',a[n-2])

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
Second largest number is: 4

#Instead of forementioned 12 lines program, the equivalent 4 lines progam

In [25]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
l.sort()
print("Second largest element is :",l[-2])

Enter how many elements5
1
2
3
4
5
Second largest element is : 4

#Program to create a list of tuples with the first element as a number and second element as the square of the number.

In [26]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:5
Enter the upper range:19
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361)]

#We can still make it more pythonic as follows

In [27]:
a=[(x,x**2) for x in range(int(input("Enter the lower range:")),int(input("Enter the upper range:"))+1)]
print(a)

Enter the lower range:5
Enter the upper range:19
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361)]

#Of course, We can write in the most pythonic way with one line ! as follows

In [28]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")),int(input("Enter the upper range:"))+1)])

Enter the lower range:5
Enter the upper range:19
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361)]

#Program to generate random numbers from 1 to 20 and append them to the list.

In [29]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
  a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:8
Randomised list is:  [11, 18, 3, 6, 12, 9, 10, 8]

#Pythonic program of 2 lines!

In [30]:
import random
l=[random.randint(1,20) for _ in range(int(input("Enter how many elements")))]
print('Randomised list is: ',l)

Enter how many elements8
Randomised list is:  [1, 14, 4, 15, 7, 13, 5, 1]

#Program for printing list of values with indexing

In [33]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
index=1
for i in names:
  print(str(index)+":"+i)
  index=index+1

1:Jan
2:Feb
3:Mar
4:Apr
5:May
6:Jun
7:Jul
8:Aug
9:Sep
10:Oct
11:Nov
12:Dec

#Using Pythonic way using enumerate()!

In [32]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
for index, value in enumerate(names):
  print(f'{index+1}: {value}')

1: Jan
2: Feb
3: Mar
4: Apr
5: May
6: Jun
7: Jul
8: Aug
9: Sep
10: Oct
11: Nov
12: Dec

#Exercise

#Write a Python Program to Print Multiplication Table of a  number which got through keyboard.

In [ ]:
n = int(input("Enter value n: "))
print([str(n)+" x "+str(i)+" = " + str(n*i) for i in range(1,11)])

Enter value n: 9
['9 x 1 = 9', '9 x 2 = 18', '9 x 3 = 27', '9 x 4 = 36', '9 x 5 = 45', '9 x 6 = 54', '9 x 7 = 63', '9 x 8 = 72', '9 x 9 = 81', '9 x 10 = 90']

#Write a  Python Program to find the Armstrong Numbers between 1 and 2000 ( i.e 153 is amtrong numbers as 1**3+5**3+3**3=153 )

In [ ]:
li =[]
for i in range(1,2000):
  l = len(str(i))
  sum=0
  temp=i
  while temp>0:
    a = temp%10
    sum += a ** l
    temp //=10
  if i == sum:
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634]

#Write a python program to get the list of tuples (rollno, name) for n students by getting rollno and name through keyboard. Sort and print  them as rollno wise and name wise both ascending and descending as well as alphabetical and dealphabetical orders

In [ ]:
li = []
n = int(input("Enter value n: "))
for i in range(n):
  rollno = input("Enter roll.no: ")
  name = input("Enter name: ")
  li.append((rollno,name))
print("Ascending order (roll.no): "+str(sorted(li)))
li.sort(reverse=True)
print("Descending order (roll.no): "+str(li))
li.sort(key = lambda x:x[1])
print("Alphabetical order: "+ str(li))
li.sort(key = lambda x: x[1],reverse=True)
print("Dealphabetical order: "+ str(li))

Enter value n: 4
Enter roll.no: 1
Enter name: ccc
Enter roll.no: 4
Enter name: ddd
Enter roll.no: 2
Enter name: aaa
Enter roll.no: 3
Enter name: bbb
Ascending order (roll.no): [('1', 'ccc'), ('2', 'aaa'), ('3', 'bbb'), ('4', 'ddd')]
Descending order (roll.no): [('4', 'ddd'), ('3', 'bbb'), ('2', 'aaa'), ('1', 'ccc')]
Alphabetical order: [('2', 'aaa'), ('3', 'bbb'), ('1', 'ccc'), ('4', 'ddd')]
Dealphabetical order: [('4', 'ddd'), ('1', 'ccc'), ('3', 'bbb'), ('2', 'aaa')]

#Python Program to Detect if Two Strings are Anagrams ( They are  the two strings which have same length and same words which may be different in their order)

In [ ]:
s1 = input("Enter first string: ")
s2 = input("Enter second string: ")

if(sorted(s1) == sorted(s2)):
  print("Anagrams")
else:
  print("Not Anagrams")

Enter first string: adcb weq
Enter second string: abcd qwe
Anagrams