<a href="https://colab.research.google.com/github/alvas-education-foundation/ECEAbhishekVMahendrakar/blob/master/Day_2_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#dict.clear()
#Removes all elements of dictionary dict

In [ ]:
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

#dict.items()
#Returns a list of dict's (key, value) tuple pairs

In [ ]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

# dict.copy()
#Returns a copy of dictionary dict

In [ ]:
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

#Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).

In [ ]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#Python Program to Sum All the Items in a Dictionary

In [ ]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

#Python Program to Remove the Given Key from a Dictionary

In [ ]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):d
Updated dictionary
{'a': 1, 'b': 2, 'c': 3}

#Python Program to add name and mark as key->value pair in  a Dictionary and print it.

In [ ]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records5
Enter name 1abhi
Enter mark 16
{'abhi': 6}
Enter name 2shek
Enter mark 25
{'abhi': 6, 'shek': 5}
Enter name 3ma
Enter mark 35
{'abhi': 6, 'shek': 5, 'ma': 5}
Enter name 4hen
Enter mark 43
{'abhi': 6, 'shek': 5, 'ma': 5, 'hen': 3}
Enter name 5drakar
Enter mark 53
{'abhi': 6, 'shek': 5, 'ma': 5, 'hen': 3, 'drakar': 3}

# Keys and Values example

In [ ]:
 d={}
 print (" The dictionary elements are")
 for i in range(1,21):
     d[i]=i**2
 print(d)
 # To print key and values
 print(" Key==> Value are")
 for (k,v) in d.items():	
      print(k,"==>",v)
 # To print key only
print("\nTo print key only")
 for k in d.keys():	
  print(k, end=" ")
  #To print value only
 print("\nTo print values only")
 for v in d.values():	
      print(v, end=" ")

 The dictionary elements are
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

#Python program to convert 2 digit number  into words

In [ ]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:45
fourty five

#How to sort a dictionary by values in Python

In [ ]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

#Exercises- Tests


1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
n= int(input("Enter the number of students: "))
d={}
for i in range(n):
  name= input("Enter the name: ")
  marks= int(input("Enter the marks obtained: "))
  d[name]=marks
print(sorted(d.items(), key = 
             lambda kv:(kv[1], kv[0]), reverse=True))

Enter the number of students: 3
Enter the name: a
Enter the marks obtained: 3
Enter the name: c
Enter the marks obtained: 1
Enter the name: b
Enter the marks obtained: 2
[('a', 3), ('b', 2), ('c', 1)]

2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
n= int(input("Enter the number of employees: "))
d={}
for i in range(n):
  name= input("Enter the name: ")
  sal= int(input("Enter the salary: "))
  d[name]=sal
print(sorted(d.items(), key = 
             lambda kv:(kv[0], kv[1])))

Enter the number of employees: 3
Enter the name: abhishek
Enter the salary: 5000
Enter the name: rohan
Enter the salary: 2000
Enter the name: akshay
Enter the salary: 9000
[('abhishek', 5000), ('akshay', 9000), ('rohan', 2000)]

3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [ ]:
n= int(input("Enter the number of employees: "))
d={}
sum=0
for i in range(n):
  name= input("Enter the name: ")
  sal= int(input("Enter the marks salary: "))
  sum+=sal
  d[name]=sal
print(sorted(d.items(), key = 
             lambda kv:(kv[1], kv[0]), reverse= True)) 
print("Sum of salaries of all Employees= ", sum)
print("Average salary is= ",sum/n)
print("Max salary is= ",max(d.values()))
print("Min salary is= ",min(d.values()))

Enter the number of employees: 3
Enter the name: bahubali
Enter the marks salary: 5000
Enter the name: devasana
Enter the marks salary: 2000
Enter the name: katappa
Enter the marks salary: 12000
[('katappa', 12000), ('bahubali', 5000), ('devasana', 2000)]
Sum of salaries of all Employees=  19000
Average salary is=  6333.333333333333
Max salary is=  12000
Min salary is=  2000

4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
n= int(input("Enter the number of employees: "))
d={}
d1={}
for i in range(n):
  name= input("Enter the name: ")
  sal= int(input("Enter the salary: "))
  d[name]=sal
for (key,value) in d.items():
  if value>2000 and value<4000:
    d1[key]=value
print("Ranged salary list: ",d1)

Enter the number of employees: 3
Enter the name: bahubali
Enter the salary: 3000
Enter the name: devasana
Enter the salary: 4000
Enter the name: katappa
Enter the salary: 2000
Ranged salary list:  {'bahubali': 3000}

5.	Python program to convert a 3 digit number  into words

In [ ]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

def two(num):
  num=num%100
  if(num>20 and num<100):
        if num%10==0:       
            return (d[num])
        else:
            return (d[num//10*10]+" "+d[num%10])

def three(num):
  if (num>=100 and num<1000):
    x= int(num/100)
    print(d[x],"hundred",two(num))
num=int(input("Enter the integer between 100 to 999:"))
three(num)

Enter the integer between 100 to 999:100
one hundred None

#Files Examples

# Python Program to count the number of lines in a text file.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#Python Program to count the number of lines in a text file. 
file = '/content/drive/My Drive/20-06-2020.doc'
num_lines = 0
with open(file, 'r') as f:
  for line in f:
    num_lines += 1
print("Number of lines:")
print(num_lines)

#Python Program to count the number of words in a text file.

In [ ]:
file = 'drive/My Drive/doc.txt'
num_words = 0
with open(file, 'r') as f:
for line in f:
words = line.split()
print(words)
num_words += len(words)
print("Number of words:")
print(num_words)

#Python Program to count the occurrences of a word in a text file.

In [ ]:
fname = 'drive/My Drive/doc.txt'
word=input("Enter word to be searched:")
k = 0

with open(fname, 'r') as f:
for line in f:
words = line.split()
for i in words:
if(i==word):
k=k+1
print("Occurrences of the word:")
print(k)

#Python Program to copy the contents of one file into another.

In [ ]:
file1 = 'drive/My Drive/sample1.txt'
file2 = 'drive/My Drive/sample2.txt'

with open(file1,'r') as f:
  with open(file2, "w") as f1:
    for line in f:
      f1.write(line)

#Python Program to read the contents of the file in reverse order.

In [ ]:
file = 'drive/My Drive/doc.txt'
with open (file,'r') as f:
for line in f:
  l=line.split()
  l.reverse() 
  st= " ".join(l)
print (st)