<a href="https://colab.research.google.com/github/alvas-education-foundation/ECEAbhishekVMahendrakar/blob/master/Day_1_session_2_Examples_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Program to find the factorial of a number using loop.

In [ ]:
n=int(input("Enter number:"))
fact=1

while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:4
Factorial of the number is:
24

#Python Program to reverse a number using loop

In [ ]:
r=0
n=int(input("Enter a number: "))
while(n>0):
    dig=n%10
    r=r*10+dig
    n=n//10
print("The reversed no  is:")
print(r)

Enter a number: 123
The reversed no  is:
321

#Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
#     * 
#     * * 
#     * * * 
#     * * * * 
#     * * * * * 
#     * * * * 
#     * * * 
#     * * 
#     *

n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#Python Program to replace all occurrences of ‘a’ with ‘$’ in a string.

In [ ]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:Abhishek
Modified string:
$bhishek

#Python Program to remove the nth index character from a non-empty string.

In [ ]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:Hii man
Enter the index of the character to remove:4
Modified string:
Hii an

#Python Program to detect if two strings are anagrams.

In [ ]:
s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

Enter first string:Abhishek
Enter second string:Mahendrakar
The strings aren't anagrams.

#Python Program to form a string where the first character and the last character have been exchanged.

In [ ]:
def change(string):
      return string[-1:] + string[1:-1] + string[:1]
string=input("Enter string:")
print("Modified string:")
print(change(string))

Enter string:Abhisek
Modified string:
kbhiseA

#Python Program to  count number of vowels from a non-empty string.

In [ ]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:Abhishek
Number of vowels are:
3

#Program for Divide by zero error detection

In [ ]:
flag = True

def div(a, b):  
       try:
            print("Finally the division of %d/%d is %f" % (a, b,a/b))
            global flag
            flag=False
       except ZeroDivisionError:
            print("Zero Division Error detected")
       else:
            print("Division is successful") 
       finally:
            if flag is True:
               print("Try again")     
            else:
               print("Thank you")
       
#global flag

while flag is True:
    div(int(input("Enter numerator")),int(input("Enter denominator")))

Enter numerator5
Enter denominator5
Finally the division of 5/5 is 1.000000
Division is successful
Thank you

#Program for ValueError error detection

In [ ]:
while True:
     try:
         x = int(input("Please enter a number: "))
         print(" That was valid number. Thank you")
         break
     except ValueError:
         print("Oops!  That was no valid number.  Try again...")

Please enter a number: 5
 That was valid number. Thank you

#Exercises

1. Write a program to print the triangle

In [ ]:
x= int(input("Enter the number: "))
for i in range(1,x+1):
  for j in range(i):
    print(i+j,end=" ")
  print("")

Enter the number: 4
1
2 3
3 4 5
4 5 6 7

2. Enter number 4

In [ ]:
x= int(input("Enter the number: "))

for i in range(x):
  for j in range(i+1):
    print("*",end=" ")
  print("")

Enter the number: 4
*
* *
* * *
* * * *

3. Enter number 5

In [ ]:
x= int(input("Enter the number: "))

arr=[]
for i in range(x,0,-1):
  arr.append(i)

for i in range(x+1):
  for j in range(1,i+1):
    print(arr[i-j],end=" ")
  print("")

Enter the number: 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

4. Enter number 5

In [ ]:
x= int(input("Enter the number: "))

for i in range(x,0,-1):
  for j in range(i):
    print(i-j,end=" ")
  print("")

Enter the number: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

5. Enter number 4

In [33]:
x= int(input("Enter the number: "))

for i in range(x):
  for j in range(x-i,0,-1):
    print(x-j+1,end=" ")
  print("")

for i in range(2,x+1):
  for j in range(i,0,-1):
    print(x-j+1,end=" ")
  print("")

Enter the number: 5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

6. Find the length of a string without using len functions

In [34]:
st= input("Enter the string: ")
x=0
for i in st:
  x+=1
print("The length of the string is: ",x)

Enter the string: Abhishek Vasudev Mahendrakar
The length of the string is:  28
By builtin 28

7. Find the no of words and characters in a string

In [35]:
x= input("Enter the string: ").split()

print("Number of words in string= ",len(x))

Enter the string: Abhishek is a good boy
Number of words in string=  5

8. Find the no of occurrences of a word in a string

In [49]:
import string
x= input("Enter the string= ").lower()
x=x.split()
print(x)
y= input("Enter the word: ").lower()
print(y)
n=0
for word in x:
  if word==y:
    n+=1
print("Number of occurance of",y,"in the string is:",n)

Enter the string= IS IS IS IT IT IS IS IT IT IS
['is', 'is', 'is', 'it', 'it', 'is', 'is', 'it', 'it', 'is']
Enter the word: Is
is
Number of occurance of is in the string is: 6