<a href="https://colab.research.google.com/github/alvas-education-foundation/ECEAbhishekVMahendrakar/blob/master/Day_3_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Program for prime number

In [1]:
i=29
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
else:
    print ("{} is a prime number".format(i))

29 is a prime number

#Unpacking

In [4]:
#Bad Unpacking

x = (1, 2, 4, 8, 16)
a = x[0]
b = x[1]
c = x[2]
d = x[3]
e = x[4]
print(a, b, c, d, e)

#Excellent unpacking

a,b,c,d,e=x
print(a, b, c, d, e)

#unpacking some elements

a, *y, e = x
print(a)
print(y)
print(e)

1 2 4 8 16
1 2 4 8 16
1
[2, 4, 8]
16

#Using Chaining to Write Concise Code

In [5]:
x = 4
print(x >= 2 and x <= 8)

print(2 <= x <= 8)
print(2 <= x <= 3)

True
True
False

#chained assignments

In [6]:
x = y =  z = 2
print(x, y, z)

2 2 2

#Checking against None

In [7]:
x, y = 2, None
print(x == None)
print(y == None)
print(x != None)
print(y != None)

False
True
True
False

#In pythonic way

In [8]:
print(x is None)
print(y is None)
print(x is not None)
print(y is not None)

False
True
True
False

#Iterating over Sequences

In [9]:
x = [1, 2, 4, 8, 16]
for i in range(len(x)):
  print(x[i])

1
2
4
8
16

#But instead we can do like this in elegant way

In [10]:
for item in x:
  print(item)

1
2
4
8
16

#to iterate in the reversed order

In [11]:
for i in range(len(x)-1, -1, -1):
  print(x[i])

16
8
4
2
1

#But in elegant way!

In [12]:
for item in x[::-1]:
  print(item)

16
8
4
2
1

#The Pythonic way is to use reversed to get an iterator that yields the items of a
#sequence in the reversed order:

In [13]:
for item in reversed(x):
  print(item)

16
8
4
2
1

#Sometimes you need both the items from a sequence and the corresponding indices:

In [14]:
for i in range(len(x)):
  print(i, x[i])

0 1
1 2
2 4
3 8
4 16

#It’s better to use enumerate to get another iterator that yields the tuples with the indices and items:

In [15]:
for i, item in enumerate(x):
  print(i, item)

0 1
1 2
2 4
3 8
4 16

#what if you want to iterate over two or more sequences? Of course, you can use the range again:

In [16]:
y = 'abcde'
for i in range(len(x)):
  print(x[i], y[i])

1 a
2 b
4 c
8 d
16 e

#In this case, Python also offers a better solution. You can apply zip and get tuples of the corresponding items:

In [17]:
for item in zip(x, y):
  print(item)

(1, 'a')
(2, 'b')
(4, 'c')
(8, 'd')
(16, 'e')

#You can combine it with unpacking:

In [18]:
for x_item, y_item in zip(x, y):
  print(x_item, y_item)

1 a
2 b
4 c
8 d
16 e

#Dictionary can be iterated in these two ways

In [19]:
z = {'a': 0, 'b': 1}
for k in z:
  print(k, z[k])
print('')

for k, v in z.items():
  print(k, v)

a 0
b 1

a 0
b 1

#To print only non zero values from tuple x

In [20]:
x = (1, 2, 0, 3, 0, 4)
for item in x:
    if item != 0:
      print(item)

1
2
3
4

#The Pythonic way is to exploit the fact that zero is interpreted as False in a Boolean context, while all other numbers are considered as True:

In [21]:
for item in x:
  if item:
    print(item)

1
2
3
4

#Avoiding Mutable Optional Arguments

In [22]:
def func(value, seq=[]):
  seq.append(value)
  return seq
print(func(value=2))
print(func(value=4))
print(func(value=6))
print(func(value=8))

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]

#Keep away from that with some additional logic

In [ ]:
def func(value, seq=None):
  if seq is None:
    seq = []
    seq.append(value)
    return seq
print(func(value=4))

#Exercise

#Write a Python program to find numbers between 100 and 400 (both included) which are divisible either by 5 or 7. The numbers obtained should be printed in a comma-separated sequence

In [ ]:
print([i for i in range(100,401) if i%5 == 0 or i%7 == 0])

[100, 105, 110, 112, 115, 119, 120, 125, 126, 130, 133, 135, 140, 145, 147, 150, 154, 155, 160, 161, 165, 168, 170, 175, 180, 182, 185, 189, 190, 195, 196, 200, 203, 205, 210, 215, 217, 220, 224, 225, 230, 231, 235, 238, 240, 245, 250, 252, 255, 259, 260, 265, 266, 270, 273, 275, 280, 285, 287, 290, 294, 295, 300, 301, 305, 308, 310, 315, 320, 322, 325, 329, 330, 335, 336, 340, 343, 345, 350, 355, 357, 360, 364, 365, 370, 371, 375, 378, 380, 385, 390, 392, 395, 399, 400]

#Write a Python program to find  prime numbers between 200 and 600 (both included). The numbers obtained should be printed in a comma-separated sequence

In [ ]:
print([i for i in range(200,601) if all(i%j != 0 for j in range(2,i//2+1))])

[211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599]

#Write a Python program to find All Numbers which are Odd and Palindromes Between a Range of Numbers without using Recursion. The numbers obtained should be printed in a comma-separated sequence

In [ ]:
print([p for p in range(int(input("Enter lower range: ")),int(input("Enter upper range: "))) if p%2==1 and str(p) == str(p)[::-1]])

Enter lower range: 150
Enter upper range: 900
[151, 161, 171, 181, 191, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797]

#Write a Python Program to read a number n and print the series “5+10+…..+n = sum upto n ” . The numbers should be printed  as they are  shown in the quotes with sum of numbers upto n

In [ ]:
n = int(input("Enter value n: "))
li =[]
for i in range(1,n+1):
  print(str(i*5), end = "")
  li.append(i*5)
  if(i != n):
    print("+", end="")
  else:
    print("=",end="")
print(sum(li))

Enter value n: 7
5+10+15+20+25+30+35=140